.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.cargo/
.config/
.cpanm/
.gitconfig
.local/
.npm/
.perl-cpm/
.profile
.rustup/
.ssh/
.viminfo
.vscode-server/
.wget-hsts
.git-credentials
.mysql_history
go/
!webapp/go/
!local/go/
.gitcredentials
